.reseñas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.reseña {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #333;
  }
 
  .nombre {
    font-weight: bold;
    color: #2a2a2a;
  }
}